<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bill-Tracker</title>

  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome/all.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-color sticky-top">
    <a class="navbar-brand" href="/">Bill Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-cogs"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-money-bill-wave"></i> Pay Bills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-credit-card"></i> Credit Score
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-piggy-bank"></i> Wells Fargo
          </a>
        </li>
      </ul>
    </div>
  </nav>