<% include ../../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/debts/<%= debt._id %>/notes/<%= note._id %>?_method=PUT" method="POST">
        <div class="card text-center default-margin default-padding">
          <div class="card-header main-color-bg"><h4>Edit <%= debt.name %> Note</h4></div>
          <textarea name="note[body]" cols="30" rows="10"><%= note.body %></textarea>
          <div class="col-md-12">
            <button class="btn btn-lg btn-outline-secondary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../../partials/footer %>