<% include ../../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form action="/income/<%= income._id %>?_method=PUT" method="POST">
          <div class="card text-center default-margin default-padding">
            <div class="card-header main-color-bg"><h4>Edit Income</h4></div>
            <input class="form-control text-center form-control-lg" type="text" name="income[source]" value=" <%= income.source %> " required>
            <input class="form-control text-center form-control-lg" type="text" name="income[amount]" value=" <%= income.amount %> " required>          
            <button class="main-btn" type="submit">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>

<% include ../../partials/footer %>